@import 'tailwindcss';

:root {
  --sl-color-accent-low: #545861;
  --sl-color-accent: #c0c2c7;
  --sl-color-accent-high: #ffffff;
}

.hero > img {
  max-height: 460px;
}

.hero h1 {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(146, 146, 146, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.sl-banner {
  background: transparent;
}

.sl-banner a {
  text-decoration: underline;
}

.sl-markdown-content a {
  text-decoration: underline;
}

.actions {
  gap: 1rem;
}

.actions .primary {
  background-color: transparent;
}
